body {
  background-color: #faea03;
  color: #5e03fa;
}
a {
  color:#fa039f;
}
input.pagemove {
  background-color: #fa039f;
}
button#EE5 {
  background: transparent;
  border: none;
  height: 99px;
  width: 67px;
}
