body {
  background-color: blue;
  color: orange;
}
a {
  color:#b27300;
}
a#Ester1 {
	color:orange;
  text-decoration: none;

}
a#Ester1:hover {
  color: #00FFFF;
}
h3 {
  text-decoration: none;
}
button.checkbutton {
	background-color:orange;
	color: white;
}
button.checkbutton:hover {
	background-color: green;
	color:black;
}
input.pagemove {
	background-color: lightgreen;
	color: black;
}
input.pagemove:hover {
	background-color: cadetblue;
	color:black;
}
a.letterlink:active {
  color:green;
}
