/* CSS Document */
Body {
	background-color: green;
	color: red;
}
a {
	color: violet;

}
a#Ester4 {
	color: red;
	text-decoration: none;
}
input.backbutton {
	background-color: pink;
	color: lightgreen;
}
input.backbutton:hover {
	background-color: cadetblue;
	color: black;
}
input.backbutton:active {
	background-color:black;
	color: white;
}
