/* CSS Document */
Body {
	background-color: #24d61e;
	color: #1e1ed6;
}
a {
	color: #d6d61e;

}
a#Ester4 {
	color: #1e1ed6;
	text-decoration: none;
}
input.backbutton {
	background-color: #d6d61e;
	color: green;
}
input.backbutton:hover {
	background-color: cadetblue;
	color: black;
}
input.backbutton:active {
	background-color:black;
	color: white;
}
