
body {
  background-color: #247F9D;
  color: #EEEEEE;

}
a#menu {
  color: orange;
}
a#menu:hover {
  color: cyan;
}
a#å {
  color: #EEEEEE;
  text-decoration: none;
}
a#å:hover {
  color: #00FFFF;
  text-decoration: none;
}
a#EE {
	color: #247F9D;
  text-decoration: none;
}
h1 {

}
a#EE:hover {
  color: #00FFFF;
  text-decoration: none;
}
input#Bbutton {
	background-color: blue;
	color:white;
}
input#Bbutton:hover {
	background-color: red;
	color: white;
}
input#Begbutton {
	background-color: #24d61e;
	color: white;
}
input#Begbutton:hover {
	background-color: red;
	color: white;
}
input#alphbutton {
	background-color:#faea03;
	color: black;
}
input#alphbutton:hover {
	background-color: red;
	color: white;
}
