
body {
  background-color: #247F9D;
  color: #EEEEEE;

}
a#menu {
  color: orange;
}
a#menu:hover {
  color: cyan;
}
a#å {
  color: #EEEEEE;

}
a#å:hover {
  color: #00FFFF;
}
a#EE {
	color: #247F9D;
  text-decoration: none;
}
h1 {
  text-decoration: underline;

}
a#EE:hover {
  color: #00FFFF;
  text-decoration: none;
}
input#Bbutton {
	background-color: blue;
	color:white;
}
input#Bbutton:hover {
	background-color: red;
	color: white;
}
input#Begbutton {
	background-color: green;
	color: white;
}
input#Begbutton:hover {
	background-color: red;
	color: white;
}
input#alphbutton {
	background-color:dodgerblue;
	color: white;
}
input#alphbutton:hover {
	background-color: red;
	color: white;
}
