Body {
  background-color: #24FF89;

}
button#hider {
  background: transparent;
  border: none;
  font-size: 0;
  height: 34px;
  width: 60px;
}
div#hidden {
  display: none;
}
div#sss {
  display: none;
}
